button {
    margin: 0px;
}

.cell {
    outline: 1px solid black;
    height: 200px;
}

.gameboard {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    width: ;
}